#artisan-container{ 
    height:100%;
    width:100%;
    background-color: #333;
 } .artisan-overlay-controller{ 
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: rgba(80,80,80,0.9);
    border: 1px solid rgba(200,200,200,0.9);
    border-radius: 5px;
    pointer-events:auto;
    z-index: 1002;
 } #artisan-menubar{ 
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    color : #fff;
    ~358~
    border: none;
 } .artisan-menu-item{ 
    float: left;
    padding: 6px;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
    overflow: auto;
 } .artisan-menu-item:hover{ 
    background : rgb(100,100,100);
    border : 1px solid rgba(0,0,0,0.2);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.2);
    padding:5px;
    margin: 1px;
 } .artisan-menu-sub{ 
    position: absolute;
    background : rgb(90,90,90);
    padding: 7px;
 } .artisan-menu-sub-inner{ 
    position: absolute;
    background : rgb(90,90,90);
    padding: 7px;
    margin: -15px;
 } #artisan-panel-container{ 
    position:absolute;
    top: 100px;
    right: 100px;
    min-width:400px;
    color: #fff;
    background : rgb(50,50,50);
    border : 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
 } #artisan-panel-tabs{ 
    padding-top: 30px;
    padding-bottom: 5px;
    background : rgb(30,30,30);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.05);
 } .artisan-panel-tab{ 
    display:inline;
    cursor: pointer;
    padding: 5px;
    margin-right:2px;
    box-shadow: inset 0px 1px 2px 0px rgba(255,255,255,0.1);
    background-color: rgb(50,50,50);
 } #artisan-panel-content{ 
    padding: 10px;
 } .artisan-panel-content select, .artisan-panel-content input{ 
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.05);
    border : 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    color: #fff;
 } .artisan-panel-content button{ 
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.05);
    border : 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    color: #fff;
 } .artisan-panel-content .fileUpload, #artisan-inputfield-id{ 
    padding:5px;
    width:120px;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.05);
    border : 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    color: #fff;
 } .artisan-panel-content .artisan-colorpicker{ 
    margin:5px;
    float:left;
 } #artisan-class-sorter-elementclasses, #artisan-class-sorter-allclasses{ 
    width: 44%;
    height:200px;
    float: left;
    overflow: auto;
 } #artisan-class-sorter-buttons{ 
    width: 8%;
    float:left;
 } #artisan-class-sorter-buttons button{ 
    height: 100px;
    width:100%;
    float:left;
 } .artisan-tint{ 
    color: rgba(255,255,255,0.7);
 } .artisan-tag-div{ 
    color: #00CBFF;
 } .artisan-tag-p{ 
    color: #A6E22E;
 } .artisan-tag-span{ 
    color: #E6CF4D;
 } .jstree-default .jstree-clicked{ 
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
 } .jstree-default .jstree-hovered{ 
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
 } #artisan-breakpoints-sorter-slider{ 
    background: rgba(0,0,0,0.2);
    width: 400px;
 } #artisan-breakpoints-sorter-label{ 
    height:10px;
    float:left;
    border-left: 1px solid rgba(255,255,255,0.4);
 } #artisan-breakpoints-sorter-labels{ 
    width: 400px;
 } body{ 
    margin:0;
    padding:0;
    border:0;
    background-color: #151515;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.08em;
 } option{ 
    background-color: rgb(70,70,70);
 } .col-half{ 
    float:left;
    width:45%;
    margin:2%;
 } .fileUpload{ 
    position: relative;
    overflow: hidden;
    margin: 10px;
 } .fileUpload input.upload{ 
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
 } input, button, select, option{ 
    outline: none;
 } 